@charset "UTF-8";
@import url("/css/reset.css");
@import url("/css/header.css");
@import url("/css/main.css");
@import url("/css/footer.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    /* Cores */
    --azul: #3772FF;
    --branco: #FFFFFF;
    --cinza-claro: #BCBCBC;
    --cinza-escuro: #737380;
    --creme: #FCF0E3;
    --verde: #36D6AD;
    --vermelho: #FC7071;
    --vermelho-claro: #FF9D9E;

    /* Fontes */
    --fonte-principal: 'Poppins', sans-serif;
}

html {
    position: relative;
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url("../assets/img/forma-superior-esquerda.svg");
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
    height: 100%;
    margin-bottom: 100px;
    width: 100%;
}








