footer {
    background-color: var(--verde);
    display: block;
    margin: auto;
    height: 100px;
    position: absolute;
    text-align: center;
    width: 100%;
}

footer > p {
    color: var(--branco);
    transform: translateY(40px);
}