header.cabecalho {
    padding: ;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    height: 27vh;
    width: 100%;
}

div.icones {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


