main {
    height: auto;
}

header.cabecalho {
    padding: 100px;
    margin: 0px;
}

div.icones {
    transform: translate(-90px, -45px);
}

#usuario {
    display: block;
    align-items: flex-end;
}

.principal {
    margin-top: 40px;
    width: 100%;
}

#logo > img {
    height: 46px;
}

.texto {
    line-height: 20px;
    text-align: center;
}

.texto > p {
    margin-bottom: 15px;
}

section > form {
    color: var(--cinza-escuro);
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 50px;
}

section > form > div > label {
    display: block;
    padding: 5px;
    text-align: center;
}
section > form > div > input {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    border: none;
    color: var(--cinza-claro);
    display: block;
    height: 40px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
    width: 312px;
}

input::placeholder {
    color: var(--cinza-claro);
}

#mensagem textarea {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    border: none;
    color: var(--cinza-claro);
    display: block;
    height: 172px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 312px;

}

#mensagem input::placeholder {
    text-align: start;
    position: absolute;
    top: 20px;
    left: 20px;
}

.botoes {
    margin-top: 30px;
}
