main {
    height: 70vh;
}

div.icones {
    align-items: center;
}

.icones-basicos img {
    margin-right: 60px;
}

.usuario {

}

.principal {
    transform: translateY(-100px);
}

.texto {
    color: var(--azul);
    display: block;
    margin: auto;
    width: 60vw;
}

section > form {
    color: var(--azul);
}

