main {
    height: 70vh;
}

div.icones {
    display: flex;
    transform: translate(-100px, -45px);
    justify-content: space-around;
    width: 100vw;
}

.icones-basicos img {
    margin-right: 60px;
}

.principal {
    transform: translateY(-100px);
}

.texto {
    color: var(--azul);
    display: block;
    margin: auto;
    width: 60vw;
}

section > form {
    color: var(--azul);
}

