header.cabecalho {
    background-image: url(../assets/img/Patas.svg);
    background-repeat: no-repeat;
    background-position: right top;
}

div.icones {
    transform: translate(-50px, -45px);
}

#logo {
    text-align: center;
    margin-bottom: 25px;
}

#logo > img {
    width: 150px;
}

.texto {
    color: var(--azul);
    margin: 0px 0px 0px 33px;
    width: 80vw;
}

section > form {
    background-image: url(../assets/img/forma-central-esquerda.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    color: var(--cinza-escuro);
    padding-bottom: 50px;
}
