header.cabecalho {
    background-image: url(../assets/img/Patas.svg);
    background-repeat: no-repeat;
    background-position: right top;
}

.principal {
    margin-bottom: 30px;
    transform: translateY(-100px);
}

#logo {
    text-align: center;
    margin-bottom: 50px;
}

#logo > img {
    width: 150px;
}

.texto {
    color: var(--azul);
    margin: 0px 0px 0px 33px;
    width: 80vw;
}

.texto > p {
    margin-bottom: 45px;
}

section > form {
    background-image: url(../assets/img/forma-central-esquerda.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 250px;
}

#esquecer-senha {
    display: block;
    color: var(--vermelho);
    font-size: .8em;
    text-align: center;
}


