.icones {
    display: flex;
    transform: translate(-100px, -45px);
    justify-content: space-around;
    width: 100vw;
}

.icones-basicos img {
    margin-right: 60px;
}

#usuario {
    display: block;
    align-items: flex-end;
}

.principal {
    margin-top: 33px;
    margin-bottom: 20px;
    width: 100%;
    transform: translateY(-100px);
}

.texto {
    color: var(--azul);
    font-size: 1.1em;
    line-height: 20px;
    margin: 0px 0px 0px 80px;
    margin-bottom: 65px;
    text-align: center;
    width: 60vw;
}

.container-pets {
    color: var(--cinza-escuro);
    font-size: .9em;
    line-height: 1.2em;
    margin: 0px 30px;
}

.pets {
    display: flex;   
    justify-content: space-around;
    margin-top: 50px;
}

.nome-pet {
    color: var(--azul);
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
}


.cidade {
    font-size: .8em;
    margin-top: 30px;

}

.contato {
    display: flex;
    margin-top: 5px;
}

.contato-texto {
    font-size: .7em;
    margin-left: 5px;
}

.botoes {
    margin-top: 30px;
}

