header.cabecalho {
    background-image: url(../assets/img/Patas.svg);
    background-repeat: no-repeat;
    background-position: right top;
}

div.icones {
    align-items: center;
}

.icones-basicos img {
    margin-right: 60px;
    justify-content: center;
}

#logo {
    text-align: center;
    margin-bottom: 25px;
}

#logo > img {
    width: 150px;
}

.texto {
    color: var(--azul);
    /* margin: 0px 0px 0px 33px; */
    width: 80vw;
}

section > form {
    background-image: url(../assets/img/forma-central-esquerda.svg);
    background-repeat: no-repeat;
    background-position: left center;
    color: var(--cinza-escuro);
    padding-bottom: 50px;
}
