body {
    background-color: var(--azul);
    color: var(--branco);
    text-align: center;
}

main.principal {
    background-image: url(../assets/img/forma-central-direita.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top right;
    margin-top: 100px;
    
}

header.cabecalho {
    padding: 35px;
    margin: 0px;
}

div.icones {
    transform: translate(20px, 20px);
}

section#logo {
    margin: 24px;
}

.titulo {
    font-size: 1.5em;
    margin-bottom: 30px;
    padding: 10px;
}

.texto {
    color: var(--branco);
    display: block;
    line-height: 5px;
    text-align: center;
}

.paragrafo {
    display: block;
    line-height: 25px;
    margin: auto;
    margin-bottom: 30px;
    width: 220px;
}

#ilustracao > img {
    margin-top: 10px;
    transform: translateX(-18px);
    transform: translatey(23px);
}

.botoes > a {
    width: 180px;
}


