body {
    background-color: var(--azul);
    color: var(--branco);
    text-align: center;
}

main.principal {
    background-image: url(../assets/img/forma-central-direita.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center right;
}

section#logo {
    margin: 50px;

}

.titulo {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.paragrafo {
    display: block;
    line-height: 25px;
    margin: auto;
    margin-bottom: 30px;
    width: 220px;
}

#ilustracao > img {
    
}
